/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* Variable for font color */
/* Variables for background colors #232f3e, #11161d, and #000 */
:root {
  --text-color: #9aaec6;
  --background-color: #232f3e;
  --background-color-2: #11161d;
  --background-color-3: #000;
  --size-large: 1.5rem;
  --size-normal: 1.25rem;
  --size-small: 1rem;
  --size-smallest: 0.25rem;
  --primary-color: #e9be62;
  --secondary-color: #eee;
}

html,
body {
  font-family: 'Outfit', Helvetica, Tahoma, Geneva, sans-serif !important;
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  margin: var(--size-small) 0 var(--size-small) 0;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

footer {
  background-color: var(--background-color-2);
}

.bg {
  background-color: var(--background-color);
}

.bg--dark {
  background-color: var(--background-color-2);
}

.bg--darkest {
  background-color: var(--background-color-3);
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: var(--size-normal);
  list-style: none;
  padding-left: 0;
}

.list--references {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: var(--size-normal);
  padding: 0;
  list-style: none;
}

.list--positions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: var(--size-smallest);
}

.item--references,
.item--positions {
  margin-bottom: var(--size-large);
}

.item-text {
  flex: 1;
  font-size: var(--size-small);
}

h2,
.cite {
  color: var(--primary-color);
}

h3 {
  color: var(--secondary-color);
}

.company {
  font-style: italic;
}

.start-date,
.end-date {
  font-size: var(--size-small);
}
