/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html,
body {
  font-family: 'Outfit', Helvetica, Tahoma, Geneva, sans-serif !important;
}

p {
  margin: 1rem 0 1rem 0;
}

a {
  text-decoration: underline;
}
