/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* @font-face {
  font-family: 'VCR OSD Mono';
  src: url('/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* Variable for font color */
/* Variables for background colors #232f3e, #11161d, and #000 */
:root {
  --text-color: #9aaec6;
  --background-color: #232f3e;
  --background-color-2: #1c2531;
  --background-color-3: #151c25;
  --size-large: 1.5rem;
  --size-normal: 1.25rem;
  --size-small: 1rem;
  --size-smallest: 0.25rem;
  --primary-color: #e9be62;
  --secondary-color: #eee;
}

html,
body {
  /* font-family: 'Outfit', Helvetica, Tahoma, Geneva, sans-serif !important; */
  font-family: 'Outfit', Helvetica, Tahoma, Geneva, sans-serif !important;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 3rem;
}

p,
ul {
  margin: 0 0 var(--size-small) 0;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

h1 {
  font-size: var(--size-large);
  margin: 0;
  line-height: 1.3;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 var(--size-small) 0;
  color: var(--secondary-color);
}

h3 {
  font-size: 1.5rem;
  margin: 0 0 var(--size-small) 0;
  color: var(--primary-color);
}

h3,
h4,
time {
  color: var(--secondary-color);
}

h4 {
}

ul {
  list-style-type: disc;
}

li {
  margin: 0 0 0 var(--size-small);
}

@property --background-color-start {
  syntax: '<color>';
  initial-value: #232f3e;
  inherits: false;
}

@property --background-color-end {
  syntax: '<color>';
  initial-value: #232f3e;
  inherits: false;
}

#menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #232f3e;
  transition: background 1.3s ease, --background-color-start 1.3s ease,
    --background-color-end 1.3s ease;
}

#menu.scrolled {
  background: linear-gradient(
    180deg,
    var(--background-color-start) 0%,
    var(--background-color-end) 100%
  );
  --background-color-start: #232f3e;
  --background-color-end: #151c25;
}

#menu:not(.scrolled) {
  --background-color-start: #232f3e;
  --background-color-end: #232f3e;
}

#rmm__menu {
  display: flex;
  flex-direction: row;
  max-width: 64rem;
  margin: 0 auto;
  height: 4rem;
  align-items: center;
}

#rmm__topbar {
  position: relative;
  display: flex;
  top: auto;
  left: auto;
  height: auto;
  width: auto;
}

#topbar {
  margin-right: var(--size-small);
  margin-left: var(--size-large);
}

#rmm__title {
  text-wrap: nowrap;
  color: var(--secondary-color);
  background-color: none;
}

#rmm__nav {
  background-color: none;
  display: flex;
}

#rmm__main {
  display: flex;
  margin: 0 0 0 2rem;
  list-style: none;
  flex-direction: row;
}

.rmm__main-nav-item {
  padding-left: 0;
  padding-right: var(--size-normal);
}

.decoration--none {
  text-decoration: none;
}

.youtube-embed {
  height: 300px;
}

@media (min-width: 768px) {
  .youtube-embed {
    height: 500px;
  }
}
